<div class="social-media-sharing flex-dir-row">
	<button mat-icon-button class="social-media-icon favorite-icon" aria-label="Favorite">

		<a href="https://www.facebook.com/profile.php?id=100013885895474" target="_blank">
			<img src="assets/imgs/facebook.svg" alt="facebook-download">
		</a>
	</button>

	<button mat-icon-button class="social-media-icon" aria-label="Phone">
		<a href="https://github.com/YuriiNad" target="_blank">
			<img src="assets/imgs/linkedin.svg" alt="linkedin-download">
		</a>

	</button>

	<button mat-icon-button class="social-media-icon" aria-label="Phone">
		<a href="https://github.com/YuriiNad" target="_blank">
			<img src="assets/imgs/github.svg" alt="github-download">
		</a>

	</button>
</div>