<div class="social-media-sharing flex-dir-row">
	<button mat-icon-button class="social-media-icon favorite-icon" aria-label="Favorite">
		<img src="assets/imgs/facebook.svg" alt="facebook-download">
	</button>

	<button mat-icon-button class="social-media-icon" aria-label="Phone">
		<img src="assets/imgs/linkedin.svg" alt="linkedin-download">
	</button>
	<button mat-icon-button class="social-media-icon" aria-label="Phone">
		<img src="assets/imgs/github.svg" alt="github-download">
	</button>
</div>