.mat-body p,
.mat-body-1 p,
.mat-typography p {
	margin: 0 0 30px;
	font-weight: 400;
	font-size: 24px; // will change
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
	margin: 0 0 30px;
}

.mat-tab-group {
	p,
	h1,
	span {
		font-style: italic !important;
	}
}

// Footer
.social-media-sharing {
	.mat-icon-button {
		line-height: 30% !important;
	}
}
@media screen and (max-width: $screen-сustom1) {
	.footer {
		.mat-toolbar {
			justify-content: center;
			.footer-rights, .footer-spacer {
				display: none;
			}
		}
	}
	.social-media-icon {
		margin: 0px 20px !important;
	}
}
@media screen and (max-width: $screen-sm) {
	.footer {
		.mat-toolbar {
			span {
				font-size: 15px !important;
			}
		}
	}

	.mat-tab-group {
		h1 {
			font-size: 30px !important;
		}
		p {
			font-size: 22px !important;
		}
	}
}
@media screen and (max-width: $screen-xl) {
	.city-location {
		min-height: 437px;
	}
}
@media screen and (min-width: $screen-xl) {
	.city-location {
		min-height: 437px;
	}
	//It can be used if you need to make specific borders for content
	// .main-container {
	// 	max-width: 1199px;
	// 	margin: 0 auto;
	// }
}

