<mat-tab-group mat-align-tabs="start" dynamicHeight animationDuration="1000ms">
 <mat-tab label="Data">
  <div class="wrap-container">
   <app-weather-data></app-weather-data>
  </div>
 </mat-tab>

 <mat-tab label="Map">
  <div class="wrap-container">
   <app-city-location></app-city-location>
  </div>
 </mat-tab>

 <mat-tab label="Both">
  <div class="wrap-data-map container-aligned-flex-row">
   <div class="wrap-weather-data">
    <app-weather-data></app-weather-data>
   </div>
   <div class="wrap-city-location">
    <app-city-location></app-city-location>
   </div>
   
  </div>
  
 </mat-tab>
</mat-tab-group>
