@import "src/theme/variables.scss";

.wrap-data-container {
	.wrap-city-location-both,
	.wrap-weather-data-both {
		justify-content: space-between;
		align-items: center;
		width: 50%;
		margin: 5px 5px;
		flex: 1 1 410px;
	}
}

.wrap-city-location-both,
.wrap-city-map {
	min-height: 437px;
}
