.mat-tab-group {
 margin-bottom: 48px;
}

.wrap-data-map {
 flex-wrap: wrap;
 justify-content: space-between;

 .wrap-city-location, .wrap-weather-data {
  min-width: 320px;
  flex: 1 0 50%;
  border: 2px solid green;
 }
}

@media screen and (max-width: 780px) {
 .wrap-data-map {
  flex-direction: column;
 }
}

