/* You can add global styles to this file, and also import other style files */
@import "src/theme/custom.scss";
@import "src/theme/variables.scss";
@import "src/theme/angular-material.scss";

.flex-dir-col {
	display: flex;
	flex-direction: column;
}
.flex-dir-row {
	display: flex;
	flex-direction: row;
}

.wrap-data-container {
	width: 100%;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	align-items: stretch;
	padding-top: 5px;
}

.shadow-box {
	box-shadow: 1px 1px 6px #ccc;
	border-radius: 7px;
	margin: 5px 5px;
	border: 2px solid red;
}


