/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');

html, body { height: 100%; }
body { margin: 0;}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Baloo Tamma 2', cursive;
 p {
  text-align: center;
 }
}

.container-aligned-flex-column {
 display: flex;
 flex-direction: column;
}
.container-aligned-flex-row {
 display: flex;
 flex-direction: row;
}

@media screen and (max-width: 1000px) {
 .wrap-data-map {
  flex-direction: column;
  .wrap-city-location, .wrap-weather-data {
   flex: 1 0 50%;
  }
 }
}
@media screen and (max-width: 770px){
 .weather-data {
  flex-direction: column;
 }
 .additional-info>p, .main-info>p {
  margin-top: 15px;
 }
}
